/* Typography */

.bold {
    font-weight: 600;
}

.bareLink {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}



/* Spacing */
.smallGap {
    gap: 0.5rem;
}

.marginRightSmall {
    margin-right: 0.5rem;
}

.marginBottomSmall {
    margin-bottom: 0.5rem;
}

.marginBottomMedium {
    margin-bottom: 1rem;
}

.contentPadding {
    padding: 1rem 0;
}

.loginPadding {
    padding: 5rem 1rem;
}